div#editpage-specialchars{display:block;border:1px solid #c0c0c0;padding:.5em}div#editpage-specialchars a{background-color:#f9f9f9;border:1px solid #ddd;padding:1px 4px}textarea#wpTextbox1 + div#editpage-specialchars,div.wikiEditor-ui-clear + div#editpage-specialchars{border-top:none}
/*
     FILE ARCHIVED ON 08:28:52 Dec 18, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:27:09 Jun 07, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 207.813 (6)
  esindex: 0.01
  CDXLines.iter: 80.929 (3)
  PetaboxLoader3.datanode: 203.244 (8)
  exclusion.robots: 0.148
  exclusion.robots.policy: 0.136
  RedisCDXSource: 6.625
  PetaboxLoader3.resolve: 269.585 (2)
  load_resource: 414.699
*/